body {
    background-color: hsl(0, 0%, 12%);
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-wrap: nowrap;
}
.first-background {
    background-color: hsl(0, 0%, 8%);
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.second-background {
    background-color: hsl(0, 0%, 14%);
    border-radius: 8px;
    color: hsl(0, 0%, 100%);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 335px;
    padding-bottom: 10px;
}

img {
    border-radius: 50%;
    margin-top: 25px;
    margin-bottom: 5px;
    height: 80px;
}

h2 {  
  font-family: Helvetica, Arial, sans-serif;
  margin: 20px 10px 0 10px;
  font-size: 26px;
  color: hsl(0, 0%, 90%);
}

.first-paragraph {
    color: hsl(75, 80%, 57%);
    font-weight: 400;
    font-size: 14px;
    margin: 10px 0 10px 0;
    font-family: Geneva, Verdana, sans-serif; 
}
.second-paragraph {
   font-size: 14px;
   margin-bottom: 10px;
   font-style: azimuth;
   font-family: Geneva, Verdana, sans-serif;
   font-stretch: expanded;
   color: hsl(0, 0%, 80%);
}

.third-paragraph {
    text-align: center;
    width: 295px;
}

.btn {
    background-image: -webkit-linear-gradient(top, hsl(0, 0%, 20%), hsl(0, 0%, 20%));
    background-image: -moz-linear-gradient(top, hsl(0, 0%, 20%), hsl(0, 0%, 20%));
    background-image: -ms-linear-gradient(top, hsl(0, 0%, 20%), hsl(0, 0%, 20%));
    background-image: -o-linear-gradient(top, hsl(0, 0%, 20%), hsl(0, 0%, 20%));
    background-image: linear-gradient(to bottom, hsl(0, 0%, 20%), hsl(0, 0%, 20%));
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    font-size: 14px;
    font-weight: 600;
    background-color: hsl(0, 0%, 20%);
    display: block;
    color: hsl(0, 0%, 90%);
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    text-align: center;
    padding: 15px;
    max-width: 100%;
    box-sizing: border-box; /* padding is included in total width */
    font-family: Helvetica, Arial, sans-serif;
}

.btn:hover {
  background: hsl(75, 94%, 57%);
  background-image: -webkit-linear-gradient(top, hsl(75, 94%, 57%), hsl(75, 94%, 57%));
  background-image: -moz-linear-gradient(top, hsl(75, 94%, 57%), hsl(75, 94%, 57%));
  background-image: -ms-linear-gradient(top, hsl(75, 94%, 57%), hsl(75, 94%, 57%));
  background-image: -o-linear-gradient(top, hsl(75, 94%, 57%), hsl(75, 94%, 57%));
  background-image: linear-gradient(to bottom, hsl(75, 94%, 57%), hsl(75, 94%, 57%));
  text-decoration: none;
  color: hsl(0, 0%, 8%);
}
